{% extends 'auth/base.html' %}
{% block title %}

{{title}}

{% endblock %}
{% block body %}
<h1 class="greetings">Привет, {{user.username|default:'Гость'}}</h1>
    
    <div class="container mainpage">
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button"> Logout</a>
        {%else%}
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button"> Login</a>
            <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button"> Regist</a>
        {%endif%} 
    </div>
<div class="mainpage">
    <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button"> Create Article</a>
</div>
{% endblock %}